@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@layer components {
  /* Ključni trik: Razvlačimo nevidljivi picker preko celog polja */
  .hide-calendar-picker::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0; /* Potpuno nevidljiva, ali pokriva sve */
  }

  /* Uklanjamo podrazumevane unutrašnje elemente da ne smetaju */
  .hide-calendar-picker::-webkit-datetime-edit {
    display: flex;
    padding-left: 0;
  }
}

@keyframes shimmer {
  0% { background-position: -1000px 0; }
  100% { background-position: 1000px 0; }
}
.animate-shimmer {
  background: linear-gradient(90deg, #f3f4f6 25%, #e5e7eb 50%, #f3f4f6 75%);
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}